@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

/* Home Page */

#home-banner,
.has-bg-img {
    background-image: url(assets/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
    background-position: center;
    background-size: cover;
}